* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100vh;
  background-color: #f0f2f5;
  font-family: "Segoe UI", Arial, sans-serif;
  flex-wrap: wrap;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  background-color: #fff;
  width: 350px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"] {
  display: block;
  background-color: #fff;
  border: 1.5px solid rgb(200, 200, 200);
  border-radius: 5px;
  padding: 15px;
  text-align: left;
  color: black;
  font-size: 17px;
  width: -webkit-fill-available;
}
input:focus {
  outline: 1px solid #1877f2;
}

button {
  border: none;
  background-color: #1877f2;
  color: white;
  display: block;
  border-radius: 5px;
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
}
button:hover {
  background-color: #297ff0;
}

.f-pws {
  display: block;
  width: 200px;
  color: #1877f2;
  text-align: center;
}
.f-pws:hover {
  text-decoration: underline;
}

.btn2 {
  width: fit-content;
  font-size: 17px;
  text-wrap: nowrap;
  background-color: #42b72a;
  text-align: center;
  border-radius: 5px;
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
}
.btn2:hover {
  background-color: #2fa518;
}

.sub-link h3 {
  width: 270px;
  position: relative;
  color: black;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin: 20px auto;
}

.sub-link h3 a {
  color: black;
  font-weight: bold;
  font-size: 13px;
}

.f-container {
  width: 460px;
  margin-top: -40px;
}

.f-container h1 {
  font-size: 60px;
  color: #0866ff;
}

p {
  font-size: 25px;
  font-weight: 600;
  word-spacing: 3px;
}

/* Container for the image and sub-link */
.left-column,
.right-column {
  flex: 1; /* This will allow it to take up half of the body's width */
  display: grid;
  place-items: center;
}
@media (max-width: 1062px) {
  .f-container {
    text-align: center;
    margin-top: 20px;
  }
}
