* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f0f2f5;
  font-family: 'Segoe UI', Arial, sans-serif;
  margin-top: 100px;
}

form {
  background-color: #fff;
  width: 380px;
  height: 270px;
  padding: 10px 5px 20px 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type='text'], input[type='password'] {
  display: block;
  background-color: #fff;
  margin: auto;
  border: 1.5px solid rgb(200, 200, 200);
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  color: black;
  font-size: 15px;
}

button {
  border: none;
  background-color: #1877f2;
  color: white;
  margin: 10px auto;
  width: 320px;
  display: block;
  border-radius: 5px;
  padding: 10px 0;
  font-weight: bold;
  cursor: pointer;
}

.f-pws {
  display: block;
  width: 200px;
  margin: 10px auto;
  color: #1877f2;
  text-align: center;
}

.line {
  border-top: 1px solid #222;
  opacity: 0.2;
  margin: 20px 0;
}

.btn2 {
  width: 180px;
  font-size: 14px;
  background-color: #42b72a;
  text-align: center;
  margin: 10px auto;
  border-radius: 5px;
  padding: 10px 0;
  font-weight: bold;
  cursor: pointer;
}

.sub-link h3 {
  width: 270px;
  position: relative;
  color: black;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin: 20px auto;
}

.sub-link h3 a {
  color: black;
  font-weight: bold;
  font-size: 13px;
}

.f-container {
  width: 350px;
  margin-top: auto; /* Adjust this value as needed */
}

.f-container img {
  width: 250px;
}

p {
  font-size: 20px;
  font-weight: 600;
  word-spacing: 3px;
}

/* Container for the image and sub-link */
.left-column {
  flex: 1; /* This will allow it to take up half of the body's width */
  text-align: center; /* Center content horizontally */
  margin-left: 150px;
}

/* Container for the form */
.right-column {
  flex: 1; /* This will also take up half of the body's width */
  margin-left: 80px;
}
