<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css"/>
  <title>Facebook</title>
</head>
<body>

  <div class="left-column">
    <div class="f-container">
      <img src="../img/Facebook-Logo.png" alt="Facebook Logo">
      <p>Connect with friends and the world around you on Facebook.</p>    
    </div>
  </div>

  <div class="right-column">
    <form action="#">
      <input type="text" placeholder="Email or phone number" /> <br />
      <input type="password" placeholder="Password" /> <br />
      <button type="submit">Log In</button> <br>
      <a href="#" class="f-pws">Forgot password?</a> <br>
      <div class="line"></div> <br>
      <button class="btn2">Create New Account</button>
      <div class="sub-link">
        <h3><a href="#">Create a Page</a> for a celebrity, band, or business</h3>
      </div>
    </form>
  </div>
  
</body>
</html>
